node_modules
/build
/*.log
*.lock

package-lock.json
/tizen/*
!/tizen/*.sh
!/tizen/*project
!/tizen/config.xml
!/tizen/icon.png
!/tizen/.settings

/tizen/.buildResult/
/tizen/.manifest.tmp
/tizen/signature1.xml
/tizen/author-signature.xml
/tizen/BusTracker.wgt
/tizen/index.html
